.item {
  background: #ffffff;
  padding: 1.3rem;
  text-align: left;
}
.item-banner-padding {
  padding: 0 0 1.3rem 0;
}
.item-menu-icon {
  font-size: 3rem;
  font-weight: 100;
  vertical-align: super;
}
.item-margin {
  margin: .5rem;
}
.item-icon {
  color: #ffffff;
}
.item-date {
  margin: 5px 0 0 5px;
  text-align: center;
}
.item__top {
  background: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  padding-top: 3rem;
  text-align: center;
  width: auto;
}
.item__bottom {
  background: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  margin-top: .5rem;
  padding: 1.3rem .5rem 1.3rem .5rem;
  text-align: center;
}
.item__left {
  background: #ffffff;
  text-align: center;
}
.item--left--label {
  background: #286da8;
  color: #ffffff;
  margin-bottom: .75rem;
}
.item-needs-work-label{
  background: rgba(229,189,0,1);
  color: #ffffff;
  margin-bottom: .75rem;
}
.item--textbox {
  margin: 5px;
  padding: .5rem 0 .5rem 0;
  text-align: center;
  width: 50%;
}
.item-select {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  margin: .5rem .5rem .5rem .5rem;
  max-width: 75vw;
  text-align: center;
}
.item-completed-tasks {
  background: #ffffff;
}
.item-completed-banner {
  text-align: center;
}
.item-completed-filter {
  text-align: center;
}
.item-completed-color {
  background: #a86428;
  color: #ffffff;
  margin-bottom: .75rem;
}
.item__middle {
  background: #ffffff;
  text-align: center;
}
.item-sow-label {
  background: #ffffff;
  padding: 1.3rem 0 1.3rem 0;
  text-align: center;
}
.item-sow-textbox {
  height: 55px;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding: .25rem;
  text-align: center;
  width: 600px;
}
.item-date-input {
  color: #000000;
  margin: .3rem 0 1.3rem 0;
}
.item-sow-textbox-with-delete {
  width: 550px;
}
.item-sow-text {
  padding-right: .25rem;
  padding-left: .25rem;
  width: 600px;
}
.item--middle--color {
  background: #2da828;
  color: #ffffff;
  margin-bottom: .75rem;
}
.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}
.item__text {
  background: #ffffff;
  padding: .5rem;
  text-align: center;
}
.item--border {
  border: 1px solid #000000;
}
.item-background {
  background: #ffffff;
}
.item-instruction {
  background: #03396C;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: auto;
}
.item--primeTask {
  background: #005B96;
  color: #ffffff;
  text-align: center;
}
.item-completed-label {
  font-weight: 500;
  text-align: center;
}
.item-completed-datepicker {
  color: #555555;
  font-weight: 400;
  margin: 0 0 1.3rem 0;
  max-width: 90%;
  padding: 0 0 0 .5rem;
  text-align: left;
}
.item--primeTask-new {
  background: #005B96;
  color: #000000;
  text-align: center;
}
.item--subTask {
  background: #6497B1;
  color: #ffffff;
  text-align: center;
}
.item--subTask-new {
  background: #6497B1;
  color: #000000;
  text-align: center;
}
.item--padding {
  padding: 1.3rem 1.3rem 1.3rem 1.3rem;
}
.item--task--padding {
  padding: .5rem 0 .5rem 0;
}
.item--checkbox--padding {
  margin: 1rem 0 1rem 0;
}
.item--radius {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.item--notes {
  height: 10rem;
  width: 100%;
}
.item--menubar {
  background: rgba(29, 39, 49, .8);
  padding: .5rem 0 .5rem 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.item--menuitem {
  color: #ffffff;
  padding: .25rem 0 .25rem 0;
  font-weight: 900;
  text-decoration: none;
}
.item--instructions {
  padding: .5rem 0 .5rem 0;
  text-align: left;
  width: 100%;
}
.item-datebox {
  font-size: 1.3rem;
  width: 15rem;
}
.item-workitem {
  margin-left: 3.5rem;
  width: 90%;
}
.item-hidden {
  visibility: hidden;
}
.item-jha-header {
  background: rgba(229,189,0,1);
  color: #000000;
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.item-jha-task-info {
  background: rgba(229,189,0,.75);
  color: #000000;
  font-size: 2.25rem;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
.mbri-clock {
  font-size:3rem;
  font-weight: 900;
  color:#ffffff;
}
.mbri-share {
  font-size:3rem;
  font-weight: 900;
}
.mbri-like {
  font-size:3rem;
  font-weight: 900;
  color:#ffffff;
}
.mbri-success {
  font-size:3rem;
  font-weight: 900;
  color:#ffffff;
}
.mbri-flag {
  font-size:3rem;
  font-weight: 900;
  color:#ffffff;
}
.mbri-trash {
  font-size:3rem;
  font-weight: 900;
  color:#ffffff;
}
.mbri-close {
  font-size:2rem;
  font-weight: 900;
  text-align: center;
  color:#555555;
}
.mbri-close-white {
  color:#ffffff;
}
